<!-- footer.component.html -->
<html>
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</head>
<body>
    
<div class="footer-container">
    <h2 class="footer-heading">Luxurious Sarees for the Modern Woman</h2>
  
    <div class="columns-container">
      <div class="column">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/faq">FAQs</a></li>
        </ul>
      </div>
  
      <div class="column">
        <h4>Policy & Terms</h4>
        <ul>
          <li><a href="#">Policy 1</a></li>
          <li><a href="#">Policy 2</a></li>
          <li><a href="#">Policy 3</a></li>
        </ul>
      </div>
  
      <div class="column">
        <h4>Handloom Sarees</h4>
        <ul>
          <li><a href="#">Pure Cotton Sarees</a></li>
          <li><a href="#">Pure Silk Sarees</a></li>
          <li><a href="#">Cotton-Silk Sarees</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-icons">
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </div>
  </div>
</body>
</html>
