<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
    </head>
    <body>
        <div class="heading">
            <h1>About Us</h1>
            <p>Crafted from Weaver's Heart and Rule the Fashion Realm with Weavers Direct Ready to Wear Sarees</p>
        </div>
        <div class="container">
            <section class="about">
                <div class="about-image">
                    <img src="https://weaversdirect.in/cdn/shop/files/Banner_1_6d9a544e-b8fb-4e55-8bdc-acb794a4ea01.jpg?v=1684135461" alt="Some image">
                </div>
                <div class="about-content">
                    <h2>It's a great art - weaving a saree</h2>
                    <p>Welcome to the world of handloom sarees from Andhra Pradesh.
                        Here, tradition and beauty come together seamlessly,
                        with each thread telling a unique story and redefining elegance.
                        Our online handloom saree shop allows you to directly support skilled weavers by ordering exquisite sarees with
                        just a click.
                        Immerse yourself in the joy of saree shopping as you browse through our wide collection,
                        carefully crafted by artisans from all over India. Experience the simplicity of online saree shopping.
                    </p>
                   
                </div>
            </section>
        </div>
        <div class="container1">
            <section class="about1">
                <div class="about-content1">
                    <h2>It's a great art - weaving a saree</h2>
                    <p>Welcome to the world of handloom sarees from Andhra Pradesh.
                        Here, tradition and beauty come together seamlessly,
                        with each thread telling a unique story and redefining elegance.
                        Our online handloom saree shop allows you to directly support skilled weavers by ordering exquisite sarees with
                        just a click.
                        Immerse yourself in the joy of saree shopping as you browse through our wide collection,
                        carefully crafted by artisans from all over India. Experience the simplicity of online saree shopping.
                    </p>
                </div>
                <div class="about-image1">
                    <img src="https://weaversdirect.in/cdn/shop/files/Banner_1_6d9a544e-b8fb-4e55-8bdc-acb794a4ea01.jpg?v=1684135461" alt="Some image">
                </div>
            </section>
            <a href="" class="read-more">Read More</a>
        </div>
        
    </body>
</html>